body {
    height: 100vh;
    margin:0;
    padding: 0;
}

#one {
    height: 100vh;
    width: 50%;
    float: left;
    background: url(../images/Giants-Panda.jpg) no-repeat center;
    background-size:cover; 
}
#two {
    height: 100vh;
    width: 50%;
    float: left;
    background: url(../images/pablo-throw.jpg) no-repeat center;
    background-size:cover; 
}
#content {
    position: absolute;
    text-decoration-style: double;
    color: #fff;
    width: 100%;
    top: 150px;
}


.wrap{
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    padding: 5% 0;
}

#game-questions {
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    padding: 5% 0;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    font-style: oblique;
    color: #fff6db;
}

#game-results {
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    padding: 5% 0;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
    font-style: oblique;
    color: #fff6db;
}

.done-btn {
    margin-top: 50px;
    border-radius: 15px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;

}

.reset {
    border-radius: 15px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;

}

.btn-primary {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
}

h1 {
    font-family: 'Ubuntu Mono', monospace;
    font-style: oblique;
    font-size: 45px;
    text-align: center;
    color: #fff6db
}

p {
    font-family: 'Ubuntu Mono', monospace;
    font-style: oblique;
    font-size: 35px;
    text-align: center;
    color: #fff6db;
}

.hide {
    display: none;
}

.start {
    text-align: center;
    margin-left: 47%;
    border-radius: 15px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
}


.selected {
    background-color: #f98e02;
}