body {
    height: 100vh;
    margin:0;
    padding: 0;
}

#one {
    height: 100vh;
    width: 50%;
    float: left;
    background: url(../images/Giants-Panda.jpg) no-repeat center;
    background-size:cover; 
}
#two {
    height: 100vh;
    width: 50%;
    float: left;
    background: url(../images/pablo-throw.jpg) no-repeat center;
    background-size:cover; 
}
#content {
    position: absolute;
    text-decoration-style: double;
    color: #fff;
    width: 100%;
    top: 150px;
}


.wrap{
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    padding: 5% 0;
}

#game-questions {
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    padding: 5% 0;
    text-align: center
}

#game-results {
    width: 55%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    padding: 5% 0;
    text-align: center
}

h1 {
    font-family: 'Stylish', sans-serif;
    font-style: oblique;
    font-size: 40px;
    text-align: center;
}

p {
    font-family: 'Stylish', sans-serif;
    font-style: oblique;
    font-size: 30px;
    text-align: center;
}

.hide {
    display: none;
}

.start {
    text-align: center;
    margin-left: 47%;
}

.selected {
    background-color: red
}